@import './../../styles/variables.module.scss';
.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 2rem;
    background-color: transparent;
    margin-top: 32px;

    .primary_btn {
        border-radius: 0.625rem!important;
        padding: 0.5rem!important;
        height: auto!important;
        background-color: $primary-color;

        color: white;
        font-weight: 600;
        outline: none;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        padding: 0.625rem 2rem;
        border-radius: 2rem;
        height: 50px;
        align-items: center;
        border: 0;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        transition: all .12s ease-in-out;

        .image_btn {
            margin-right: 0.5rem;
        }

        &:hover {
            background-color: $primary-dark;
        }
    }

    .simple_btn {
        padding: 0.25rem 0.75rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        border-radius: 1.125rem;
        color: $grey-font;
        transition: color .25s ease-in-out;
        font-size: 0.875rem;
        background-color: transparent;
        border: none;
        font-weight: 600;
        margin-top: 1rem;
        cursor: pointer;

        &:hover {
            color: $primary-color;
            text-decoration: underline;
        }
    }
}